<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Llamada a ventana sesion -->
        <activity android:name=".Sesion"/>

        <!-- Llamada a ventana Registro -->
        <activity android:name=".Registro" />

        <!-- Llamada a ventana Perfil -->
        <activity android:name=".Perfil" />

        <!-- Llamada a ventana Inicio -->
        <activity android:name=".Mapa" />

        <!-- Llamada a ventana Mujeres -->
        <activity android:name=".Mujeres" />

        <!-- Llamada a ventana Chat -->
        <activity android:name=".Chat" />

        <!-- Llamada a ventana Ajustes -->
        <activity android:name=".Ajustes" />

        <!-- Llamada a ventana Mujeres -->
        <activity android:name=".Ayuda" />

        <!-- Llamada a ventana SOS -->
        <activity android:name=".Emergencia" />





    </application>

</manifest>