<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Sesion" />

        <activity android:name=".Registro" />

        <activity android:name=".Perfil" />

        <activity android:name=".Mapa" />

        <activity android:name=".Mujeres" />

        <activity android:name=".Chat" />

        <activity android:name=".Ajustes" />

        <activity android:name=".Ayuda" />

        <activity android:name=".Emergencia" />

        <meta-data
            android:name="com.google.android.geo.AIzaSyByMqonOUiES3ZLyzPMGQ1ShV6Fc-AS3Rw"
            android:value="AIzaSyByMqonOUiES3ZLyzPMGQ1ShV6Fc-AS3Rw" />
    </application>
</manifest>
